/*{box-sizing:border-box;}*/
*{
  margin: 0px;
  padding: 0px;
}

body{
  /*background: url("/aureasushi/public/img/mosaic.jpg") /*ruta absoluta*/
  background: url("../img/mosaic.jpg")  /*ruta relativa*/
}

header {
  height: 200px;
}

#Cabecera{
  width: 790px;
  margin: auto;
  margin-top: 0px;
  align-items: center;
  margin-bottom: 20px;
  display: block;
}

nav {
  background: red;
  height: 60px;
  text-align:center;
  }

 nav a{
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  display: inline-block;
  padding: 10px 30px;
  line-height: 2.5;
  text-decoration: none;
  border-radius: 2px;
}

.listaplatillos{
color:#ffffff;
}

nav a:hover{
  background-color: black;
  /*background: rgba(0, 0.1, 0, 0.2);*/
}
